<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.math">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AlertActivity"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
        <activity android:name=".Resul_1Activity" />
        <activity android:name=".preguntas.Exam_2_10Activity" />
        <activity android:name=".preguntas.Exam_2_9Activity" />
        <activity android:name=".preguntas.Exam_2_8Activity" />
        <activity android:name=".preguntas.Exam_2_7Activity" />
        <activity android:name=".preguntas.Exam_2_6Activity" />
        <activity android:name=".preguntas.Exam_2_5Activity" />
        <activity android:name=".preguntas.Exam_2_4Activity" />
        <activity android:name=".preguntas.Exam_2_3Activity" />
        <activity android:name=".preguntas.Exam_2_2Activity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".preguntas.Exam_2_1Activity" />
        <activity android:name=".SelectResActivity" />
        <activity android:name=".ResultadosActivity" />
        <activity android:name=".ExamOptActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MateriasActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
